* {margin: 0;
padding: 0;

font-family:  'electrolize','Share Tech Mono', monospace, sans-serif}

/* #000000 black

# 0075e8 middle blue

#00ff00bright green

#ff0000 bright red

#ff6666 soft red

#8b6ccf light purp

#a1ecfb light blue 1

#acf9fb light blue 2

#021114 black2

#032026 off black

#26dafd vibrant blue

#3aafff mid blue 2

#4a5f78 grey */ 

#editbutton{
  height: 5vh;
  width: 5vw;
  margin: 0px 1vh 0px 1vw;
}

#deletebutton{
  height: 5vh;
  width: 5vw;
  background-color: #ff0000;
  margin: 0px 1vh;
}

#facts {
  font-size: .5em;
}

#tiny {
  height: 1vh;
  width: 1vh;
}

body {
  background-image: url("wallpaper.jpg");
  /* background-image: url("background.jpg"); */
  color: #26dafd;
}

h4 {
  color: #ff0000
}

img {
  height: 5vw;
  width: 5vw;
  margin: 0px 0px 7vw 2vw;
  transition: .5s;
}

img:hover{
  transform: rotateZ(-360deg);
  border-radius: 50%
}

p {
text-align: right;
font-size: 1.4em;
}

#undermap {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 30vh;
  width: 40vw;
  margin: 0px 0px 0px 5vw;
}


button {
 
  width: 10vw;
  height: 5vw;
  color: white;
  transition: .25s;
  background-color: #10344A;
  border-color: white;
  border-radius: 25%;
  opacity: 1;
}

button:hover {
  opacity: 0.5;
  color: white;
  border-color: white;
  transform: scale(0.9);
  border-radius: 35%;
  box-shadow: inset 0 0 0 2px white;
}

@keyframes blinker {
  from {opacity: 1.0}
  to {opacity: 0.1}
}

#incoming {
  color: #ff0000;
  text-decoration-line: underline overline;
  margin: 0px 0px 2vh 0px;
  animation-name: blinker;

  animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  animation-iteration-count: infinite;
  animation-duration: 2s;
  
}

.fullpage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh 0px 0px 0px;
}

.threatbox {
  height: 95vh;
  width: 45vw;
  margin: 0 0 0 3vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2em;
  text-decoration-line: underline;

}

#trackbutton {
  margin: 0px 8vw 0px 0px;
}

.trackbox {
  background-color: transparent;
  height: 80vh;
  width: 45vw;
  margin: 2vh 0px 0px 0px;
  font-size: 1.5em;
}

.coords {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  justify-content: left;
  height: 10vh;
  width: 100%;
  margin: 3vh 1vw
}

.tracking {
  color: #00ff00;
  transition: .5s;
}

.tracking:hover{
  color: white
}

#trackbar{ 
  display: flex;
  flex-direction: row;
  align-self: right;
  justify-content: space-between;
}

#trackbuttons{
  display: flex;
  flex-direction: row;
}
.tracktitle {
  text-align: left;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.ipdata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: right;
  transition: 1s
}

.logos:hover{
  opacity: 25%
}
