* {margin: 0;
padding: 0;

font-family: electrolize, sans-serif}

/* #000000 black

# 0075e8 middle blue

#00ff00bright green

#ff0000 bright red

#ff6666 soft red

#8b6ccf light purp

#a1ecfb light blue 1

#acf9fb light blue 2

#021114 black2

#032026 off black

#26dafd vibrant blue

#3aafff mid blue 2

#4a5f78 grey */ 



body {
  /* background-image: url("wallpaper.jpg"); */
  background-image: url("background.jpg");
  color: #26dafd;
}

h4 {
  color: #ff0000
}

button {
  background-color: transparent;
  width: 10vw;
  margin: 0px 5vw;
  color: #26dafd;
  transition: .5s;
  background-color: #ff0000;
  border-color: #26dafd;
  border-radius: 25%;
  color: white;
}

button:hover {
  background-color:#00ff00;
  color: white;
  border-color: white;
}

#incoming {
  color: #ff0000;
  text-decoration-line: underline overline;
  text-decoration-style: double;
  margin: 0px 0px 2vh 0px
  
}

.fullpage {
  display: flex;
  flex-direction: row;
}

.threatbox {
  height: 80vh;
  width: 60vw;
  margin: 5vw 0px 5vw 3vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
  text-decoration-line: underline;
}

.trackbox {
  background-color: transparent;
  height: 80vh;
  width: 40vw;
  margin: 5vw 0px;
  font-size: 2em;
}

.coords {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  margin: 5vw 0px 0px 0px;
}

.tracking {
  color: #00ff00;
  transition: .5s;
}

.tracking:hover{
  font-size: 1.05em
}
.tracktitle {
  text-decoration-line: underline
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
